<header [title]="'Settings'" [activeTab]=" " >
</header>

<ion-content padding-top>
    <ion-list>
        <div *ngFor="let alert of alerts">
            <alert-message-card [showAlert]="alert.showAlert" [title]="alert.title" [message]="alert.message" [type]="alert.type"
                [alert]="alert" [hideCloseButton]="alert.hideCloseButton"></alert-message-card>
        </div>
        <div *ngIf="profileUpdatePassword">
            <form [formGroup]="updatePasswordForm" (submit)="updateMemberPassword()" novalidate>
                <div>
                        <b class="text-font updatePasswordTxt">Update Your Password </b>
                </div>
                <ion-item class="currentPws">
                    <ion-label stacked>
                        <b class="text-font">Current Password* </b>
                    </ion-label>
                    <ion-input class="inputPaddingtop" [type]="currentPasswordType" formControlName="currentPassword"
                        (blur)="onExistingPasswordBlur = true" (focus)="onExistingPasswordBlur = false"></ion-input>

                    <button class="profilepwdShowBtnCls showHideBtn" [ngClass]="{'password-button-hide':currentPasswordText=='Hide'}" type="button" ion-button item-end (tap)="showCurrentPassword()"
                        round text-capitalize>{{currentPasswordText}}</button>
                </ion-item>
                <control-messages [control]="updatePasswordForm.controls.currentPassword" *ngIf="onExistingPasswordBlur"></control-messages>
                <ion-item class="ionitempaddingright">
                    <ion-label stacked>
                        <b class="text-font">New Password* </b>
                    </ion-label>
                    <ion-input class="inputPaddingtop" [type]="newPasswordType" formControlName="newPassword" (blur)="profilePasswordErrors = true"
                        (focus)="profilePasswordErrors = false"></ion-input>

                    <button class="profilepwdShowBtnCls showHideBtn" [ngClass]="{'password-button-hide':newPasswordText=='Hide'}" type="button" ion-button item-end (tap)="showNewPassword()"
                        round text-capitalize>{{newPasswordText}}</button>
                </ion-item>
                <ion-item class="ionitempaddingright">
                    <ion-label stacked>
                        <b class="text-font">Re-enter Password* </b>
                    </ion-label>
                    <ion-input class="inputPaddingtop" [type]="reenterPasswordType" formControlName="reenterPassword" (ionBlur)="onreenterPasswordBlur = true" (ionFocus)="onreenterPasswordBlur = false"></ion-input>

                    <button class="profilepwdShowBtnCls showHideBtn" [ngClass]="{'password-button-hide':reenterPasswordText=='Hide'}" type="button" ion-button item-end (tap)="showReenterPassword()"
                        round text-capitalize>{{reenterPasswordText}}</button>
                </ion-item>
                <control-messages [control]="updatePasswordForm.controls.reenterPassword" *ngIf="onreenterPasswordBlur"></control-messages>   
                <ion-card class="card-bg">
                    <ion-card-content class="card-content">
                        <password-validation [isBlurEvent]="profilePasswordErrors" [password]="updatePasswordForm.value.newPassword"></password-validation>
                    </ion-card-content>
                </ion-card>
                <control-messages [control]="updatePasswordForm.controls.newPassword" *ngIf="profilePasswordErrors"></control-messages>

                <div class="btnPadding" text-center>
                    <button class="btnRadius" ion-button type="submit" full [disabled]="!updatePasswordForm.valid">Continue</button>
                </div>
                <div class="editFieldReq">* Field is required.</div>
            </form>
        </div>
    </ion-list>
</ion-content>
<footer></footer>