page-my-settings {

    .headerTitle {
        background-color: white !important;
        font-weight: normal;
        text-transform: capitalize !important;
    }

    .border-right {
        border-right: 1px solid #dddddd;
    }

    .border-bottom {
        border-bottom: 1px solid #dddddd;
    }

    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 0px solid #c8c7cc;
    }

    .list-md .item-block .item-inner {
        padding-right: 8px;
        border-bottom: 0px solid #c8c7cc;
    }

    .list-ios .item-block .item-inner {
        border-bottom: 0px solid #c8c7cc;
    }

    .switch {
        position: relative;
        width: 60px;
        height: 34px;
        float: left;
    }

    .switch input {
        display: none;
    }

    .settingArrowCls {
        font-size: 2em;
        font-weight: bold;
        color: #818181;
    }

    .login_slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .login_slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .login_sliderlabel {
        float: left;
        padding-left: 10px;

        line-height: 2.6em;
    }

    .login_sliderlabeltemp {
        float: left;
        padding-left: 20px;

        line-height: 2.6em;
    }

    input:checked+.login_slider {
        background-color: #25bd27;
    }

    input:focus+.login_slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.login_slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .login_slider.round {
        border-radius: 34px;
    }

    .login_slider.round:before {
        border-radius: 50%;
    }

    .settingsCls {
        padding: 40px $padding-page-30;
    }

    .input {
        padding-left: $padding-page-30;
    }

    .pwdShowBtnCls {
        width: 60px !important;
        padding: 0 2rem;
        height: 18px !important;
        font-size: 1.2rem !important;
    }

    .errorMsg {
        font-family: $font-family-base;
        font-size: 0.9em;
    }

    input[type="text"],
    [type="email"],
    input[type="password"] {
        width: 100%;
        padding-left: $padding-page-10;
        border: 0px;
        font-family: roboto-light;
    }

    .word-wrap {
        width: 100%;
        word-wrap: break-word;
        white-space: normal;
    }

    ul {
        white-space: normal;
        word-wrap: break-word;
        margin-top: auto;
        margin-left: -20px;
    }

    .boldContentCls {
        font-family: arial-bold;
        color: $card-content-font-color-normal;
        font-size: $card-content-body-size;
    }

    .boldContentGird {
        font-family: arial-bold;
        color: $card-content-font-color-normal;
        font-size: 1.0em;
    }

    .cancelBtnCls {
        width: 100%;
        /*   font-family: arial-bold;*/
        text-align: center;
        font-weight: bold;
        padding: 0px 0px $padding-page-15 0px;
        text-decoration: none;
        color: #1866A3;
    }

    .detailArrowCls {
        font-size: 1.4em;
        font-weight: normal;
        color: #818181;

    }

    .emailverifiedcolor {
        color: #1866a3;
        font-weight: bold;
        font-size: 10px;
        padding-left: 30px;
        white-space: normal;
        word-wrap: break-word;

    }

    .rightArrowAlign {
        text-align: end;
        font-size: 1.2em;
    }

    .iconFont {
        font-size: 1.2em;
    }
    .item-ios .radio-ios[item-left],
    .item-ios .radio-ios[item-start] {
		
    }
	.emailverifiedcolor{
	    color: #1866a3;
    font-weight:  bold;
    font-size:10px;
    padding-left: 30px;
	 white-space: normal;
    word-wrap: break-word;
	
	}

   .rightArrowAlign{
    text-align:end;
    font-size: 1.2em;
   }
   .iconFont{
    font-size: 1.2em;
   }
    .cardReadArticleLinkCls{
		padding-top: $padding-30;
	    font-family : arial-bold;
	    color: $card-content-font-color-highlighted;
	    font-size: 1 em;
    }
    
    .item-ios .radio-ios[item-left], .item-ios .radio-ios[item-start] {
        margin: 2px 6px 4px 3px;
    }

    .radio-md .radio-icon {
        border-color: #000000;
    }

    .radio-md .radio-checked {
        border-color: #000000;
    }

    .radio-md .radio-inner {
        border-color: #000000;
        background-color: #000000;
    }

    .radio-md .radio-checked .radio-inner {
        left: 2px !important;
        top: 2px !important;
        border-radius: 50% !important;
        position: absolute;
        width: 8px !important;
        height: 8px !important;
        background-color: #000000;
    }

    // css styles copied from my profile page.

    .border-right {
        border-right: 1px solid #dddddd;
    }

    .item[no-lines].border-bottom {
        border-bottom: 2px solid #dddddd;
    }

    // .border-bottom-verify {
    //     border-bottom: 1px solid #1866a3;
    // }

    /*
    input:checked+.login_slider {
        background-color: #25bd27;
    }
    input:focus+.login_slider {
        box-shadow: 0 0 1px #2196F3;
    }
    input:checked+.login_slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    .login_slider.round {
        border-radius: 34px;
    }
    .login_slider.round:before {
        border-radius: 50%;
    } */
    .pwdShowBtnCls {
        width: 60px !important;
        padding: 0 2rem;
        height: 18px !important;
        font-size: 1.2rem !important;
        margin-top: 26px !important;
    }

    .errorMsg {
        font-family: $font-family-base;
        font-size: 0.9em;
    }

    .word-wrap {
        width: 100%;
        word-wrap: break-word;
        white-space: normal;
    }

    ul {
        white-space: normal;
        word-wrap: break-word;
        margin-top: auto;
        margin-left: -20px;
    }

    .boldContentCls {
        font-family: arial-bold;
        color: $card-content-font-color-normal;
        font-size: $card-content-body-size;
    }

    .boldContentProfileName {
        font-family: arial-bold;
        color: $card-content-font-color-normal;
        font-size: 18px;
    }

    .usernameContainer{
        padding:15px 15px  0px 15px !important;
    }

    .usernameContainer .iconContainer{
        float:right;
        font-size: 2em;
    }

    .clearAll{
        clear:both;
    }

    .ionBtncls {
        font-size: 1.0em;
        background-color: #1866a3;
        width: 100%;
        border-radius: 0px;
        font-weight: bold;
        padding: 0 1em;
    }

    .ionbtnclear {
        font-size: 1.2em;
        width: 100%;
        border-radius: 0px;
        font-weight: bold;
        padding: 0 1em;
        height: 35px;
    }

    .txtfontsize {
        font-size: 14px;
        font-family: arial-bold;
    }

    .textpaddingleft {
        padding-left: 39px;
    }

    .ionitempaddingright {
        padding-right: 15px;
    }

    .emailtextoverflow {
        padding-left: 39px;
        overflow: hidden;
        width: 90%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .hintquationtextoverflow {
        padding-left: 15px;
        overflow: hidden;
        width: 90%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .detailArrowCls {
        font-size: 1.4em;
        font-weight: normal;
        color: #1866a3;
    }

    .optdetailArrowCls {
        font-size: 1.7em;
        font-weight: normal;
        color: #1866a3;
    }

    .emailverifiedcolor {
        color: #1866a3;
        font-weight: bold;
        font-size: 10px;
        padding-left: 30px;
        white-space: normal;
        word-wrap: break-word;
    }

    // .ionitembackgroung {
        // background: #f2f2f2;
        // margin-top: 10px;
    // }

    .textcolor {
        color: map-get($colors, profiletextblue);
    }

    .opttextcolor {
        color: map-get($colors, profiletextblue);
        font-size: 20px;
    }

    .rightArrowAlign {
        text-align: end;
        font-size: 1.2em;
    }

    .iconFont {
        padding-top: 4px;
        font-size: 1.2em;
    }

    .labelClss {
        padding: ($padding-page-30 * 2) $padding-page-20 0px $padding-page-30;
        font-family: arial-bold; //border-bottom: 0.55px solid #c8c7cc;
    }

    .drupalconten {
        text-align: center;
        height: 130px;
        padding-top: 40px;
        font-size: 22px;
        white-space: inherit
    }

    .address {
        padding-top: 0px;
        padding-left: 15px;
        margin: 0px;
    }

    .leftpadding {
        padding-left: 10px;
    }

    .item-md ion-icon[item-left]+.item-inner,
    .item-md ion-icon[item-left]+.item-input,
    .item-md ion-icon[item-start]+.item-inner,
    .item-md ion-icon[item-start]+.item-input {
        margin-left: 4px;
    }

    .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating] {
        color: #000;
    }

    .item-input .label-md,
    .item-select .label-md,
    .item-datetime .label-md {
        color: #000;
    }

    .question-container .options_box .item-ios .item-block {
        min-height: 34px;
    }

    .question-container .options_box .item-ios .item-block {
        min-height: 34px;
    }

    .item-block {
        min-height: 34px;
    }

    .select-ios .select-icon .select-icon-inner {
        left: 0 !important;
        top: 60% !important;
    }

    .select-ios .select-placeholder {
        padding-right: 8px;
    }

    .select-md .select-icon .select-icon-inner {
        left: 0 !important;
    }

    .select-md .select-placeholder {
        padding-right: 8px;
      }
      .preferenceTitle,.preferenceSliderHolder{
          font-family: arial-bold;
      }
      .preferenceSliderHolder{
          padding: 10px 0px;
          border: 1px solid #DDDDDD;
          border-right: none;
          border-left: none;
          font-size: 13px;
          margin-top: 10px;
          ion-icon{
              float: right;
          }
      }
      .ion-ios-arrow-forward:before {
        margin-left: 18px;
        color: #999;
    }
    .preferenceTxt{
        padding: 0;
        margin-top: 0;
        list-style-type:none;
        margin-left: 0;
        font-size: 15px;
    }
    .preferenceCancel{
        font-family: arial-bold;
    }
    .notificationsTxt{
        font-size: 14px;
        white-space: normal;
        word-wrap: break-word;
    }
    .notifications{
        font-size: 17px;
        padding-left: 0px;
    }
    
    .editLinkPreferences{
        float: right;
        color: #1866A3;
        font-size: 14px;
        margin-right: 15px;
    }
    .preferenceEmailHolder{
        padding: 0px 15px;
        font-size: 14px;
    }
    .submitBtnCls{
        font-family: arial-bold;
    }
    .label-ios {
        margin: 11px 0px 11px 0;
    }
    .col{
        padding-right: 0px;
        padding-left: 0px;
    }
    .preferenceTitle{
        padding: 0px 0px;
    }
    
    .selectLearnMoreTxt{
        padding: 0px 0px;
    }
    .verifyEmailTxt{
        margin: 0 0px;
        padding: 0 15px;
    }
    .emailSliderHolder{
        float:left;
         width:100%;
         padding: 10px 15px;
    }
    .preferenceTxt li {
        padding: 0px 0px;
    }
    .preferencesTab .item-inner,
    .profileTab .item-inner{
        padding-right: 0 !important;
    }
    .preferencesTab .item-block{
        padding-left: 0;
    }
    .notificationTxtHolder{
        margin: 0 15px;
    }
    .mobilePhnTxt{
        padding: 0px 15px;
    }
    .preferenceMobileHolder{
        padding: 10px 15px;
    }
    .normalTxt,.emailtextoverflow,.address,.textpaddingleft,
    .hintquationtextoverflow,.drupalconten{
        color:#505050;
    }
    .updatePasswordHolder{
        border-top: 2px solid #ddd !important;
        font-family: arial-bold;
        margin-top: 10px;
    }
    .drupalContentHolder{
        border-top: 10px solid #ddd !important;
    }
    .ion-ios-alert-outline:before,
    .ion-ios-checkmark-circle:before {
        font-size: 24px;
        padding-bottom: 2px;
        margin-right: 6px;
    }
    .cancelSaveBtnHolder{
        margin: 5px 10px 0 10px;
    }
    span.button-inner {
        font-family: arial;
    }
    .cancelSaveBtn{
        width: 100%;
    } 
    .editInputField{
        padding: 0;
    }
    .editInputField input{
        padding: 10px 0;
        padding-left: 15px;
        border: 0.55px solid #c8c7cc;
        width: 100% !important;
        border-right: 0;
        border-left: 0;
    }
    .editFieldReq{
        color: grey;
        padding-left: 11px;
    }
    .drawselectoptions .select-text{
        padding-left: 16px;
    }
    .drawselectoptions {
        border: 0.55px solid #c8c7cc;
        border-right: 0;
        border-left: 0;
    }
    .profileComponent{
        margin-top: 10px;
    }
    .dobHolder{
        margin-bottom: 10px;
    }
    .mailAddressTxt{
        margin-bottom: 6px;
    }
    .editHintAnswerBtn {
        position: absolute;
        right: 0;
        top: 17px;
    }
    .preferencesFooterTxt{
        margin-top: 30px;
    }

    // info show tool tip related css
    .tooltip {
        position: relative;
        display: inline-block;
    }

    .tooltip .tooltiptext {
        -webkit-box-shadow:1px 1px 9px 2px #eff0f2;
        -moz-box-shadow: 1px 1px 9px 2px #eff0f2;
        border:1px solid #d2d7e2;
        box-shadow: 1px 1px 9px 2px #eff0f2;
        font-size: 15px;
        visibility: hidden;
        width: 190px;
        background-color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px 10px;
        position: absolute;
        z-index: 1;
        top: -33%;
        left: -856%;
        margin-left: -60px;
        opacity: 0;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        margin:0px !important;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 28%;
        left: 102%;
        margin-left: -5px;
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent  transparent  #FFF;
    }

    .tooltip .tooltiptext:before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 28%;
        left: 103%;
        margin-left: -5px;
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent transparent #d2d7e2;
      }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    .tooltiptext span {
        color: #1866a3;
        font-weight: bold;
    } 
    .addPhone{
        margin-top: 10px;
    }
    .addPhonNumLink{
        color: #1866a3;
        font-family: arial-bold;
        text-decoration: underline;
        font-size: 15px;
        ion-icon{
            margin-right: 5px;
            text-decoration: none;
        } 
    } 
    .ion-ios-add:before {
        font-weight: bold;
    }
    .tabHolder{
        background-color:#fff;
        margin-top:15px;
    }
    .profileTab{
        margin-bottom: 15px;
    }
    .profilePreferenceHolder{
        border-top:1px solid #EEE;
    }
    .profileBanner{
        margin-top: 0;
    }
    .profileHolder{
        margin-bottom:15px;
        background-color:#FFF;
        margin-top:0px;   
    }
    .iconFont.mobileEmailIconName{
        margin: 0;
    }
}

ion-alert.alertCustomCss {
    padding-top: 50%;
}