<header [title]="'Forgot Password?'">
</header>


<ion-content padding-top>

    <div class="registerSection" *ngIf="showRegisterSection">
        <div class="registerLeftSection">
            <span class="headerLable">Don't have an account?</span>
        </div>
        <div (tap)="gotoRegistrationPage()" class="signin-section">Create one now
        </div>
    </div>
    <div *ngFor="let alert of alerts">
        <alert-message-card [showAlert]="alert.showAlert" [title]="alert.title" [message]="alert.message" [type]="alert.type" [alert]="alert"
            [hideCloseButton]="alert.hideCloseButton"></alert-message-card>
    </div>
    <div class="forgotPasswordForm" *ngIf="showForgotform">
        <div>
            <!-- <div class="pageSectionCls itemBottomBorder">
                <div class="infoCls">{{forgotUserNameNeedInfoFirst}}</div>
            </div> -->
            <form [formGroup]="forgotPasswordForm1" (ngSubmit)="submitForgotpasswordUserFrom($event, forgotPasswordForm1)" *ngIf="basicForgotPasswordForm">            
            <ion-row>
                    <div class="labelCls">Username*</div>
                    <ion-item>
                        <ion-input formControlName="userName" type="text" [(ngModel)]="userId" placeholder="Username" (blur)="userNameBlur = true;" (focus)="userNameBlur = false;"
                            autocorrect="off" autocapitalize="off" autocomplete="off"></ion-input>
                    </ion-item>
                    <control-messages [control]="forgotPasswordForm1.controls.userName" *ngIf="userNameBlur"></control-messages>
                    <div class="submitBtnCls" text-center>
                            <button ion-button type="submit" full [disabled]="!isformDisabled(forgotPasswordForm1)">Continue</button>
                        </div>

            </ion-row>
            <div  class="lableRequired tems-padding">*Field is required.</div>
            </form>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotpasswordForm($event, forgotPasswordForm)" *ngIf="dobRegistrationForm">
                <div *ngIf="authenticated">
                        <div class="pageSectionCls">
                                <div class="titleCls">
                                    <strong>Confirm Your Identity</strong>
                                </div>
                                <div class="infoCls">{{weHaveFoundMatch}}</div>
                            </div>
                    <div class="labelCls">Date of Birth*</div>
                    <ion-item class="dobItemCls">
                        <input class="dobInputcls" id="dobInput" #dobInput formControlName="dateOfBirth" type="tel" autocomplete="off" placeholder="mm/dd/yyyy"
                            [textMask]="{mask: dobMask}" (blur)="dateOfBirthBlur = true" (focus)="dateOfBirthBlur =false" pattern="[0-9/]*"
                            inputmode="numeric" class="dobInput" />
                    </ion-item>
                    <control-messages [control]="forgotPasswordForm.controls.dateOfBirth" *ngIf="dateOfBirthBlur"></control-messages>
                </div>
                <div [ngClass]="hintquationDisabled ? 'inactive':''">
                <div class="labelCls">Hint Question:{{hintQuestion}}<span *ngIf="!hintquationDisabled">*</span></div>
                <ion-item>
                    <ion-input formControlName="hintquation" type="text" [placeholder]="hintQuationPlaceholder" (blur)="hintquationBlur = true"
                        (focus)="hintquationBlur =false" autocorrect="off" autocapitalize="off" autocomplete="off" [disabled]="hintquationDisabled" minlength="3" maxlength="30"></ion-input>
                </ion-item>
                </div>
                <control-messages [control]="forgotPasswordForm.controls.hintquation" *ngIf="hintquationBlur"></control-messages>
                <div class="submitBtnCls" text-center>
                    <button ion-button type="submit" full [disabled]="!isformDisabled(forgotPasswordForm)">Continue</button>
                </div>
                <div  class="lableRequired tems-padding">*Field is required.</div>
            </form>
        </div>
        <img class="shadow-img" />
    </div>

    <div *ngIf="showVerificationform" class="forgotPasswordForm verificationCodeFormCls">
        <div>
            <div class="pageSectionCls">
                <div class="titleCls">
                    <strong>Enter verification code</strong>
                </div>
                <div class="infoCls">A 6-digit verification code has been sent to {{email}}. Please enter it below.</div>
            </div>
            <form [formGroup]="verificationCodeForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="input-field col s12 accessCodeContainer">
                    <input placeholder="" id="accesscode1" #accesscode1 (keydown)="handleBackspace(null, accesscode1,accesscode2,$event)" (keyup)="setFocus(null, accesscode1,accesscode2,$event)"
                        type="tel" formControlName="accesscode1" maxlength="1" width="20" class="inputCls" />
                    <input placeholder="" id="accesscode2" #accesscode2 (keydown)="handleBackspace(accesscode1, accesscode2,accesscode3,$event)"
                        (keyup)="setFocus(accesscode1, accesscode2,accesscode3,$event)" type="tel" formControlName="accesscode2"
                        maxlength="1" width="20" class="inputCls" />
                    <input placeholder="" id="accesscode3" #accesscode3 (keydown)="handleBackspace(accesscode2, accesscode3,accesscode4,$event)"
                        (keyup)="setFocus(accesscode2, accesscode3,accesscode4,$event)" type="tel" formControlName="accesscode3"
                        maxlength="1" width="20" class="inputCls" />
                    <input placeholder="" id="accesscode4" #accesscode4 (keydown)="handleBackspace(accesscode3, accesscode4,accesscode5,$event)"
                        (keyup)="setFocus(accesscode3, accesscode4,accesscode5,$event)" type="tel" formControlName="accesscode4"
                        maxlength="1" width="20" class="inputCls" />
                    <input placeholder="" id="accesscode5" #accesscode5 (keydown)="handleBackspace(accesscode4, accesscode5,accesscode6,$event)"
                        (keyup)="setFocus(accesscode4, accesscode5,accesscode6,$event)" type="tel" formControlName="accesscode5"
                        maxlength="1" width="20" class="inputCls" />
                    <input placeholder="" id="accesscode6" #accesscode6 (keydown)="handleBackspace(accesscode5, accesscode6,accesscode6,$event)"
                        (keyup)="setFocus(accesscode5, accesscode6,accesscode6,$event)" type="tel" formControlName="accesscode6"
                        maxlength="1" width="20" class="inputCls" />
                    <label for="accesscode" class="active"></label>
                </div>
                <div class="nbspace">&nbsp;</div>
                <div class="resendSectionCls">
                    <div>Didn't get your verification code?</div>
                    <div class="padding-top" id="sendAnchorTagId">
                        <a class="cursor-pointer" (tap)="resendaccesscode()">Send it Again</a>
                    </div>
                </div>

                <div class="submitBtnCls" text-center>
                    <button ion-button type="submit" full [disabled]="!isformDisabled(verificationCodeForm)">Continue</button>
                </div>
            </form>
        </div>
        <img class="shadow-img" />
    </div>

</ion-content>
<footer></footer>