<header [title]="'Update Password'" [activeTab]=" " [hideMenu]="'true'" >
</header>

<ion-content padding-top>
    <ion-list>
        <div *ngFor="let alert of alerts">
            <alert-message-card [showAlert]="alert.showAlert" [title]="alert.title" [message]="alert.message" [type]="alert.type" [alert]="alert"
                [hideCloseButton]="alert.hideCloseButton"></alert-message-card>
        </div>
        <div class="verificationCodeFormCls" >
            <form autocomplete="off" [formGroup]="createPasswordForm" (submit)="onSubmitPassword()">
                <div class="passwordLabelCls">New Password*</div>
                <ion-item class="inputPwdCls">
                    <input #newPwdInput placeholder="" id="password" type="password" formControlName="passwordin" (blur)="showErrorOnBlur()"
                    />
                    
                    <button class="pwdShowBtnCls" [ngClass]="{'password-button-hide':buttonCaption=='Hide'}" type="button" ion-button item-end (tap)="togglePwdDisplay(newPwdInput)" round text-capitalize>{{buttonCaption}}</button>

                </ion-item>
                <ion-label class="reEnterLabel">
                        <span>Re-enter Password* </span>
                    </ion-label>
                <ion-item class="reEnterInput">                        
                        <ion-input class="inputPaddingtop" [type]="reenterPasswordType" formControlName="reenterPassword" (ionBlur)="onreenterPasswordBlur = true" (ionFocus)="onreenterPasswordBlur = false"></ion-input>
    
                        <button class="profilepwdShowBtnCls showHideBtn" [ngClass]="{'password-button-hide':reenterPasswordText=='Hide'}" type="button" ion-button item-end (tap)="showReenterPassword()"
                            round text-capitalize>{{reenterPasswordText}}</button>
                    </ion-item>
                    <control-messages [control]="createPasswordForm.controls.reenterPassword" *ngIf="onreenterPasswordBlur"></control-messages>   
    
                <ion-card class="card-bg">
                    <ion-card-content class="card-content">
                        <password-validation [isBlurEvent]="showPasswordErrors" [password]="createPasswordForm.value.passwordin"></password-validation>
                    </ion-card-content>
                </ion-card>
                <div class="btnPadding" text-center>
                    <button class="btnRadius" ion-button type="submit" full [disabled]="!createPasswordForm.valid">Continue</button>
                </div>
                <div class="requireddiv">* Field is required</div>
            </form>
        </div>
        <!--<div *ngIf="profileUpdatePassword">
            <form [formGroup]="updatePasswordForm" (submit)="updateMemberPassword()" novalidate>
                <ion-item class="currentPws">
                    <ion-label stacked>
                        <b class="text-font">Current Password </b>
                    </ion-label>
                    <ion-input class="inputPaddingtop" [type]="currentPasswordType" formControlName="currentPassword" (blur)="onExistingPasswordBlur = true"
                        (focus)="onExistingPasswordBlur = false"></ion-input>

                    <button class="profilepwdShowBtnCls" type="button" ion-button item-end (tap)="showCurrentPassword()" round text-capitalize>{{currentPasswordText}}</button>
                </ion-item>
                <control-messages [control]="updatePasswordForm.controls.currentPassword" *ngIf="onExistingPasswordBlur"></control-messages>
                <ion-item class="ionitempaddingright">
                    <ion-label stacked>
                        <b class="text-font">New Password </b>
                    </ion-label>
                    <ion-input class="inputPaddingtop" [type]="newPasswordType" formControlName="newPassword" (blur)="profilePasswordErrors = true"
                        (focus)="profilePasswordErrors = false"></ion-input>

                    <button class="profilepwdShowBtnCls" type="button" ion-button item-end (tap)="showNewPassword()" round text-capitalize>{{newPasswordText}}</button>
                </ion-item>

                <ion-card class="card-bg">
                    <ion-card-content class="card-content">
                        <password-validation [isBlurEvent]="profilePasswordErrors" [password]="updatePasswordForm.value.newPassword"></password-validation>
                    </ion-card-content>
                </ion-card>
                <control-messages [control]="updatePasswordForm.controls.newPassword" *ngIf="profilePasswordErrors"></control-messages>

                <div class="btnPadding" text-center>
                    <button class="btnRadius" ion-button type="submit" full [disabled]="!updatePasswordForm.valid">Continue</button>
                </div>
            </form>
        </div>-->
        
    </ion-list>
</ion-content>
<footer></footer>