<header [title]="'Facility Profile'"></header>
<ion-content>
  <alert-message-card *ngIf="alertMessageCard" [showAlert]="alertMessageCard.showAlert" [title]="alertMessageCard.title" [message]="alertMessageCard.message"
    [type]="alertMessageCard.type" [alert]="alertMessageCard" [hideCloseButton]="alertMessageCard.hideCloseButton"></alert-message-card>
  <div class="profile-container" *ngIf="fadFacilityResponseData && fadFacilityResponseData.facility">
    <!--Start 12.0.0 Facility Profile: Default-->
    <ion-item no-margin no-lines class="profile-name">{{facility?.facilityName}}</ion-item>
    <ion-label padding-left no-lines class="profile-speciality">{{facility?.specialty}}</ion-label>
    <!--End 12.0.0 Facility Profile: Default -->
    <!--Start 12.0.4 Facility Profile: Tiers Tag -->
    <ion-row no-padding no-margin hidden>
      <ion-col col-9 no-padding no-margin>
        <ion-label margin-left no-margin class="profile-card-info">
          <span class="profile-card-info-content">Enhanced Benefits Tier</span>
        </ion-label>
      </ion-col>
      <ion-col col-3 no-padding no-margin>
        <ion-label no-margin class="profile-card-info-copy" text-end>
          <!-- <span>Copy ID</span> -->
        </ion-label>
      </ion-col>
    </ion-row>
    <!--End 12.0.4 Facility Profile: Tiers Tag  -->
    <ion-label no-padding no-margin no-lines>
      <p class="profile-item-divider"></p>
    </ion-label>
    <!-- <ion-label padding-left no-padding no-lines class="profile-location-title">Medical Group</ion-label> -->
    <ion-label padding-left no-padding no-margin no-lines class="profile-location-subtitle">{{facility?.address}}</ion-label>
    <ion-row padding-left no-padding no-margin>
      <ion-col no-padding no-margin class="profile-location-container">
        <ion-label no-margin no-lines float-left class="profile-location-contact-number" (click)="makeCall(selectedLocationDetails?.phone)">
          <i class="fa fa-phone"></i>&nbsp;
          <span>{{facility?.phone | phone}}</span>&nbsp;&nbsp;&nbsp;
        </ion-label>
        <ion-label no-margin no-lines class="profile-location-contact-direction">
          <i class="fas fa-map-marker-alt"></i>&nbsp;
          <span>Get Directions</span>
        </ion-label>
      </ion-col>
      <!-- Start  Facility profile: Cost Estimate -->
      <ion-item class="profile-cost-estimate" no-lines no-padding hidden>
        <ion-label>
          <p text-wrap class="profile-cost-estimate-title">Knee Replacement</p>
          <p text-wrap class="profile-cost-estimate-description">Estimate cost at this location.
            <span>See cost breakdown</span>
          </p>
          <ion-grid class="no-padding-left">
            <ion-row class="profile-cost-estimate-detail-container">
              <ion-col col-3 class="profile-cost-estimate-detail-sub-container">
                <p class="profile-cost-estimate-detail-price">$700
                  <sup>00</sup>
                </p>
                my cost
              </ion-col>
              <ion-col col-1 text-center class="profile-cost-estimate-detail-operator">
                +
              </ion-col>
              <ion-col col-3 text-wrap class="profile-cost-estimate-detail-sub-container">
                <p class="profile-cost-estimate-detail-price">$700
                  <sup>00</sup>
                </p>
                insurance cost
              </ion-col>
              <ion-col col-1 text-center class="profile-cost-estimate-detail-operator">
                =
              </ion-col>
              <ion-col col-4 class="profile-cost-estimate-detail-sub-container">
                <p class="profile-cost-estimate-detail-price">$1400
                  <sup>00</sup>
                </p>
                total cost
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
      <!-- End  Facility profile: Cost Estimate -->
    </ion-row>
    <ion-grid no-padding no-margin class="profile-accordian-container">
      <ion-row no-padding no-margin class="profile-accordian-row"></ion-row>
      <!-- ratings -->
      <ion-row no-padding no-margin class="profile-accordian-row">
        <!-- <ion-row no-padding no-margin class="width-100" (tap)="toggleAccordianList('rating')"> -->
        <ion-row no-padding no-margin class="width-100">
          <ion-col no-padding col-11 class="profile-accordian-list-rating-title">
            <ion-item no-lines>
              <ion-label no-margin>
                <div class="rating-star-container margin-top-0" [ngClass]="{'rating-star-title-container' : accordianToggleStatus['rating'] == true}">
                  <span *ngIf="facility?.ratings">
                    <app-star-rating-component [componentInput]="getRating(facility?.ratings)"></app-star-rating-component>
                  </span>
                  &nbsp;
                  <!-- <span class="rating-count"> 
                        (89)
                      </span> -->
                </div>
                <p *ngIf="accordianToggleStatus['rating'] == true" class="profile-rating-caption">
                  Overall Experience based on Servey</p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col no-padding col-1 class="profile-accordian-toggle-icon">
            <ion-item no-lines no-padding>
              <ion-icon class="icon" [name]="accordianToggleStatus['rating'] == true ? 'ios-arrow-up': 'ios-arrow-down'"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- </ion-row> -->
        <ion-row class="profile-accordian-content" *ngIf="accordianToggleStatus['rating'] == undefined ? false : accordianToggleStatus['rating']">
          <ion-row padding-left padding-right margin-top no-margin class="rating-container">
            <ion-col col-4 no-padding class="rating-recommend-section profile-rating-feedback-percentage">
              100%
            </ion-col>
            <ion-col col-8 no-padding class="rating-recommend-section profile-rating-feedback-remarks">
              would recommend this provider to a friend.
            </ion-col>
          </ion-row>
          <ion-row no-padding no-margin class="rating-container">
            <ion-col col-12 no-padding no-margin>
              <ion-item no-padding no-lines class="profile-accordian-content-title">Communication</ion-item>
            </ion-col>
            <!-- Title -->
            <ion-col col-12 no-padding no-margin>
              <ion-label text-wrap padding-left no-margin no-lines class="rating-container-subtitle no-border">
                How often did nurse communicate well with patients?
              </ion-label>
            </ion-col>
            <!-- List -->
            <ion-row no-margin class="rating-container-list">
              <ion-col col-3 text-right class="profile-rating-feedback-percentage">
                82%
              </ion-col>
              <ion-col col-9 text-wrap class="profile-rating-feedback-remarks">
                Always communicated well
              </ion-col>
            </ion-row>
            <ion-row no-margin class="rating-container-list">
              <ion-col col-3 text-right class="profile-rating-feedback-percentage">
                15%
              </ion-col>
              <ion-col col-9 text-wrap class="profile-rating-feedback-remarks">
                Usually communicated well
              </ion-col>
            </ion-row>
            <ion-row no-margin class="rating-container-list">
              <ion-col col-3 text-right class="profile-rating-feedback-percentage">
                3%
              </ion-col>
              <ion-col col-9 text-wrap class="profile-rating-feedback-remarks">
                Sometimes or never communicated well
              </ion-col>
            </ion-row>

            <!-- Title -->
            <ion-col col-12 no-padding no-margin>
              <ion-label text-wrap padding-left no-margin no-lines class="rating-container-subtitle no-border">
                How often did nurse communicate well with patients?
              </ion-label>
            </ion-col>
            <!-- List -->
            <ion-row no-margin class="rating-container-list">
              <ion-col col-3 text-right class="profile-rating-feedback-percentage">
                82%
              </ion-col>
              <ion-col col-9 text-wrap class="profile-rating-feedback-remarks">
                Always communicated well
              </ion-col>
            </ion-row>
            <ion-row no-margin class="rating-container-list">
              <ion-col col-3 text-right class="profile-rating-feedback-percentage">
                15%
              </ion-col>
              <ion-col col-9 text-wrap class="profile-rating-feedback-remarks">
                Usually communicated well
              </ion-col>
            </ion-row>
            <ion-row no-margin class="rating-container-list">
              <ion-col col-3 text-right class="profile-rating-feedback-percentage">
                3%
              </ion-col>
              <ion-col col-9 text-wrap class="profile-rating-feedback-remarks">
                Sometimes or never communicated well
              </ion-col>
            </ion-row>
          </ion-row>

          <ion-row no-padding no-margin class="rating-container">
            <ion-col col-12 no-padding no-margin>
              <ion-item no-padding no-lines class="profile-accordian-content-title">Communication</ion-item>
            </ion-col>
            <!-- Title -->
            <ion-col col-12 no-padding no-margin>
              <ion-label text-wrap padding-left no-margin no-lines class="rating-container-subtitle no-border">
                How often did nurse communicate well with patients?
              </ion-label>
            </ion-col>
            <!-- List -->
            <ion-row no-margin class="rating-container-list">
              <ion-col col-3 text-right class="profile-rating-feedback-percentage">
                82%
              </ion-col>
              <ion-col col-9 text-wrap class="profile-rating-feedback-remarks">
                Always communicated well
              </ion-col>
            </ion-row>
            <ion-row no-margin class="rating-container-list">
              <ion-col col-3 text-right class="profile-rating-feedback-percentage">
                15%
              </ion-col>
              <ion-col col-9 text-wrap class="profile-rating-feedback-remarks">
                Usually communicated well
              </ion-col>
            </ion-row>
            <ion-row no-margin class="rating-container-list">
              <ion-col col-3 text-right class="profile-rating-feedback-percentage">
                3%
              </ion-col>
              <ion-col col-9 text-wrap class="profile-rating-feedback-remarks">
                Sometimes or never communicated well
              </ion-col>
            </ion-row>

            <!-- Title -->
            <ion-col col-12 no-padding no-margin>
              <ion-label text-wrap padding-left no-margin no-lines class="rating-container-subtitle no-border">
                How often did nurse communicate well with patients?
              </ion-label>
            </ion-col>
            <!-- List -->
            <ion-row no-margin class="rating-container-list">
              <ion-col col-3 text-right class="profile-rating-feedback-percentage">
                82%
              </ion-col>
              <ion-col col-9 text-wrap class="profile-rating-feedback-remarks">
                Always communicated well
              </ion-col>
            </ion-row>
            <ion-row no-margin class="rating-container-list">
              <ion-col col-3 text-right class="profile-rating-feedback-percentage">
                15%
              </ion-col>
              <ion-col col-9 text-wrap class="profile-rating-feedback-remarks">
                Usually communicated well
              </ion-col>
            </ion-row>
            <ion-row no-margin class="rating-container-list">
              <ion-col col-3 text-right class="profile-rating-feedback-percentage">
                3%
              </ion-col>
              <ion-col col-9 text-wrap class="profile-rating-feedback-remarks">
                Sometimes or never communicated well
              </ion-col>
            </ion-row>
          </ion-row>
        </ion-row>
      </ion-row>

      <ion-row no-padding no-margin class="width-100" (tap)="toggleAccordianList('All')" *ngIf="fadFacilityResponseData?.locations?.length>1">
        <ion-col no-padding col-11 class="profile-accordian-title">
          <ion-item no-lines>See all location and affliations</ion-item>
        </ion-col>
        <ion-col no-padding col-1 class="profile-accordian-toggle-icon">
          <ion-item no-lines no-padding>
            <ion-icon class="icon" [name]="accordianToggleStatus['All'] == true ? 'ios-arrow-up': 'ios-arrow-down'"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row no-padding no-margin class="profile-accordian-content" *ngIf="accordianToggleStatus['All'] == undefined ? false : accordianToggleStatus['All']">
        <!-- Other locations -->
        <ion-col col-12 no-padding no-margin *ngIf="fadFacilityResponseData?.locations?.length>1">
          <ion-item no-padding no-lines class="profile-accordian-content-title">Other Location</ion-item>
        </ion-col>
        <div class="width-100" *ngFor="let locationItem of fadFacilityResponseData?.locations; index as locationIndex">
          <ion-row no-padding no-margin class="profile-location-container" [hidden]="locationIndex == selectedLocationIndex">
            <ion-row no-padding no-margin>
              <ion-col col-12 no-padding no-margin (tap)="loadDetailsBasedOnLocation(locationIndex)">
                <ion-label padding-left no-margin no-padding no-lines class="profile-location-title underline">{{locationItem?.name}}</ion-label>
              </ion-col>
              <ion-col no-margin no-padding col-11>
                <ion-row no-padding no-margin>
                  <ion-col col-12 no-padding no-margin>
                    <ion-label padding-left no-padding no-margin no-lines class="profile-location-subtitle">{{locationItem?.address}}</ion-label>
                  </ion-col>
                  <ion-col col-12 no-padding no-margin>
                    <ion-row padding-left no-padding no-margin>
                      <ion-col no-padding no-margin>
                        <ion-label no-margin no-lines float-left class="profile-location-contact-number" (click)="makeCall(fadFacilityResponseData?.locations[locationIndex].phone)">
                          <i class="fa fa-phone"></i>&nbsp;
                          <span>{{locationItem?.phone | phone}}</span>&nbsp;&nbsp;&nbsp;
                        </ion-label>
                        <ion-label no-margin no-lines class="profile-location-contact-direction">
                          <i class="fas fa-map-marker-alt"></i>&nbsp;
                          <span>Get Directions</span>
                        </ion-label>
                      </ion-col>
                      <!-- Start 10.0.5 & 10.0.7 Doctor profile: Cost Estimate -->
                      <ion-col col-11 no-padding no-margin hidden>
                        <ion-item no-padding no-lines>
                          <ion-label>
                            <p text-wrap class="profile-cost-estimate-title">Knee Replacement</p>
                            <p text-wrap class="profile-cost-estimate-description">Estimate cost at this location.
                              <span>See cost breakdown</span>
                            </p>
                            <ion-grid class="no-padding-left">
                              <ion-row class="profile-cost-estimate-detail-container">
                                <ion-col col-3 class="profile-cost-estimate-detail-sub-container">
                                  <p class="profile-cost-estimate-detail-price">$700
                                    <sup>00</sup>
                                  </p>
                                  my cost
                                </ion-col>
                                <ion-col col-1 text-center class="profile-cost-estimate-detail-operator">
                                  +
                                </ion-col>
                                <ion-col col-3 text-wrap class="profile-cost-estimate-detail-sub-container">
                                  <p class="profile-cost-estimate-detail-price">$700
                                    <sup>00</sup>
                                  </p>
                                  insurance cost
                                </ion-col>
                                <ion-col col-1 text-center class="profile-cost-estimate-detail-operator">
                                  =
                                </ion-col>
                                <ion-col col-4 class="profile-cost-estimate-detail-sub-container">
                                  <p class="profile-cost-estimate-detail-price">$1400
                                    <sup>00</sup>
                                  </p>
                                  total cost
                                </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-label>
                        </ion-item>
                      </ion-col>
                      <!-- End 10.0.5 & 10.0.7 Doctor profile: Cost Estimate -->
                      <!--Start 10.0.9 Doctor profile: One location is of newtwork -->
                      <ion-col col-12 no-padding no-margin hidden>
                        <button ion-button small round no-padding no-margin class="profile-out-of-network-button">
                          <span class="profile-out-of-network-icon-close">
                            <ion-icon name="ios-close-outline"></ion-icon>
                          </span>
                          <span class="profile-out-of-network-text">
                            &nbsp;Out-of-Network &nbsp;&nbsp;&nbsp;&nbsp;
                          </span>
                          <span class="profile-out-of-network-icon-info">
                            <ion-icon name="ios-information-circle-outline"></ion-icon>
                          </span>
                        </button>
                      </ion-col>
                      <!--End 10.0.9 Doctor profile: One location is of newtwork -->
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col no-margin no-padding col-1 class="profile-accordian-toggle-icon">
                <ion-item no-lines no-padding>
                  <ion-icon col-1 name="ios-arrow-forward"></ion-icon>
                </ion-item>
              </ion-col>
              <ion-col col-12 no-padding no-margin>
                <ion-label padding-left no-padding no-lines>
                  <p class="profile-item-divider"></p>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-row>
        </div>
      </ion-row>


      <!-- network -->
      <ion-row no-padding no-margin class="profile-accordian-row">
        <!-- <ion-row no-padding no-margin class="width-100" (tap)="toggleAccordianList('network')"> -->
        <ion-row no-padding no-margin class="width-100">
          <ion-col no-padding col-11 class="profile-accordian-list-network-title">
            <ion-item no-lines>
              <i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;In-Network</ion-item>
          </ion-col>
          <!--Start  12.0.1 Facility Profile: No Network Selected-->
          <ion-col no-padding col-11 class="profile-accordian-list-provider-title" hidden>
            <ion-item no-lines>Networks Accepted</ion-item>
          </ion-col>
          <!--End   12.0.1 Facility Profile: No Network Selected -->
          <!--Start Facility profile:: One location is of newtwork -->
          <ion-col no-padding padding-left col-11 class="profile-accordian-list-provider-title" hidden>
            <button ion-button small round no-padding no-margin class="profile-out-of-network-button">
              <span class="profile-out-of-network-icon-close">
                <ion-icon name="ios-close-outline"></ion-icon>
              </span>
              <span class="profile-out-of-network-text">
                &nbsp;Out-of-Network &nbsp;&nbsp;&nbsp;&nbsp;
              </span>
              <span class="profile-out-of-network-icon-info">
                <ion-icon name="ios-information-circle-outline"></ion-icon>
              </span>
            </button>
          </ion-col>
          <!--End Facility profile:: One location is of newtwork-->
          <ion-col no-padding col-1 class="profile-accordian-toggle-icon">
            <ion-item no-lines no-padding>
              <ion-icon class="icon" [name]="accordianToggleStatus['network'] == true ? 'ios-arrow-up': 'ios-arrow-down'"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- </ion-row> -->
        <!-- *ngIf="accordianToggleStatus['network'] == undefined ? false : accordianToggleStatus['network']" -->
        <ion-row class="profile-accordian-content" *ngIf="accordianToggleStatus['network'] == undefined ? false : accordianToggleStatus['network']">
          <ion-row no-margin no-padding class="width-100" hidden>
            <ion-col col-12 no-padding no-margin>
              <ion-label no-margin padding-left class="profile-network-content-title">All networks accepted</ion-label>
            </ion-col>
          </ion-row>
          <ion-row no-margin no-padding>
            <ion-col col-12 no-padding no-margin>
              <!-- Start 12.0.2 Facility Profile: No Network Selected - Expanded (Registered only)-->
              <ion-label padding-left class="profile-network-info-container">
                <i class="fas fa-exclamation-circle" aria-hidden="true"></i>&nbsp;
                <span class="profile-network-info-link">Authenticate</span>
                <span class="profile-network-info-content">to see if in-Network</span>
              </ion-label>
              <!-- End 12.0.2 Facility Profile: No Network Selected - Expanded (Registered only)-->
              <!--Start  12.0.2 Facility Profile: No Network Selected - Expanded (Registered only) -->
              <ion-label padding-left class="profile-network-info-container" hidden>
                <i class="fas fa-exclamation-circle" aria-hidden="true"></i>&nbsp;
                <span class="profile-network-info-link">Login</span>
                <span class="profile-network-info-content">to see if in-Network</span>
              </ion-label>
              <!--End  12.0.2 Facility Profile: No Network Selected - Expanded (Registered only) -->
            </ion-col>
          </ion-row>
          <ion-col col-12 no-padding no-margin profile-network-content-list>
            <!-- <ul class="profile-accepted-network">
              <li>• BCBS Blue New England</li>
              <li>• BCBS Blue New England</li>
              <li>• BCBS Blue New England</li>
              <li>• BCBS Blue New England</li>
            </ul> -->
            <ion-row>
              <ion-col padding-left col-2 text-center class="profile-network-content-list">
                •
              </ion-col>
              <ion-col col-10 class="profile-network-content-list">
                BCBS Blue New England
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col padding-left col-2 text-center class="profile-network-content-list">
                •
              </ion-col>
              <ion-col col-10 class="profile-network-content-list">
                HMO Blue Network with Hospital Choice Cost Sharing feature
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col padding-left col-2 text-center class="profile-network-content-list">
                •
              </ion-col>
              <ion-col col-10 class="profile-network-content-list">
                HMO Blue Options v.5
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-row>
      <!-- provider details -->
      <ion-row no-padding no-margin class="profile-accordian-row">
        <!-- <ion-row no-padding no-margin class="width-100" (tap)="toggleAccordianList('provider')"> -->
        <ion-row no-padding no-margin class="width-100">
          <ion-col no-padding col-11 class="profile-accordian-list-provider-title">
            <ion-item no-lines>Awards & Quality</ion-item>
          </ion-col>
          <ion-col no-padding col-1 class="profile-accordian-toggle-icon">
            <ion-item no-lines no-padding>
              <ion-icon class="icon" [name]="accordianToggleStatus['provider'] == true ? 'ios-arrow-up': 'ios-arrow-down'"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- </ion-row> -->
        <ion-row class="profile-accordian-content" *ngIf="accordianToggleStatus['provider'] == undefined ? false : accordianToggleStatus['provider']">
          <ion-row no-padding no-margin margin-bottom class="width-100">
            <ion-row no-padding no-margin class="profile-accordian-content">
              <ion-col col-11 no-padding no-margin>
                <ion-label padding-left no-margin class="profile-provider-content-title">Accreditations</ion-label>
              </ion-col>
              <ion-col col-1 no-padding no-margin>
                <ion-icon name="ios-information-circle-outline" class="profile-provider-content-title-icon"></ion-icon>
              </ion-col>
              <ion-row col-12 no-marign no-padding>
                <ion-label padding-left no-marign no-lines>
                  <p class="profile-item-divider"></p>
                </ion-label>
              </ion-row>
            </ion-row>

            <ion-row padding-left class="profile-accordian-content profile-provider-awards-container">
              <ion-col col-2 padding-left no-margin class="profile-provider-awards-image">
                <!-- image -->
              </ion-col>
              <ion-col col-10 no-padding no-margin class="profile-provider-awards-image-description">
                <ion-label no-margin text-wrap>Medicare and Medicaid Electronic Health Records (EHR) Incentive Programs</ion-label>
              </ion-col>
            </ion-row>
          </ion-row>
          <ion-row no-padding no-margin margin-bottom class="width-100">
            <ion-row no-padding no-margin class="profile-accordian-content">
              <ion-col col-11 no-padding no-margin>
                <ion-label padding-left no-margin class="profile-provider-content-title">Blue Distinction Plus</ion-label>
              </ion-col>
              <ion-col col-1 no-padding no-margin>
                <ion-icon name="ios-information-circle-outline" class="profile-provider-content-title-icon"></ion-icon>
              </ion-col>
              <ion-row col-12 no-marign no-padding>
                <ion-label padding-left no-marign no-lines>
                  <p class="profile-item-divider"></p>
                </ion-label>
              </ion-row>
            </ion-row>

            <ion-row padding-left class="profile-accordian-content profile-provider-awards-container">
              <ion-col col-2 padding-left no-margin class="profile-provider-awards-image">
                <!-- image -->
              </ion-col>
              <ion-col col-10 no-padding no-margin class="profile-provider-awards-image-description">
                <ion-label no-margin text-wrap>Medicare and Medicaid Electronic Health Records (EHR) Incentive Programs</ion-label>
              </ion-col>
            </ion-row>
            <ion-row padding-left class="profile-accordian-content profile-provider-awards-container">
              <ion-col col-2 padding-left no-margin class="profile-provider-awards-image">
                <!-- image -->
              </ion-col>
              <ion-col col-10 no-padding no-margin class="profile-provider-awards-image-description">
                <ion-label no-margin text-wrap>Medicare and Medicaid Electronic Health Records (EHR) Incentive Programs</ion-label>
              </ion-col>
            </ion-row>
            <ion-row padding-left class="profile-accordian-content profile-provider-awards-container">
              <ion-col col-2 padding-left no-margin class="profile-provider-awards-image">
                <!-- image -->
              </ion-col>
              <ion-col col-10 no-padding no-margin class="profile-provider-awards-image-description">
                <ion-label no-margin text-wrap>Medicare and Medicaid Electronic Health Records (EHR) Incentive Programs</ion-label>
              </ion-col>
            </ion-row>
          </ion-row>
          <ion-row no-padding no-margin margin-bottom class="width-100">
            <ion-row no-padding no-margin class="profile-accordian-content">
              <ion-col col-11 no-padding no-margin>
                <ion-label padding-left no-margin class="profile-provider-content-title">Blue Distinction</ion-label>
              </ion-col>
              <ion-col col-1 no-padding no-margin>
                <ion-icon name="ios-information-circle-outline" class="profile-provider-content-title-icon"></ion-icon>
              </ion-col>
              <ion-row col-12 no-marign no-padding>
                <ion-label padding-left no-marign no-lines>
                  <p class="profile-item-divider"></p>
                </ion-label>
              </ion-row>
            </ion-row>

            <ion-row padding-left class="profile-accordian-content profile-provider-awards-container">
              <ion-col col-2 padding-left no-margin class="profile-provider-awards-image">
                <!-- image -->
              </ion-col>
              <ion-col col-10 no-padding no-margin class="profile-provider-awards-image-description">
                <ion-label no-margin text-wrap>Medicare and Medicaid Electronic Health Records (EHR) Incentive Programs</ion-label>
              </ion-col>
            </ion-row>
          </ion-row>
          <ion-row no-padding no-margin margin-bottom>
            <ion-row no-padding no-margin class="profile-accordian-content margin-botton-0">
              <ion-col col-12 no-padding no-margin>
                <ion-label padding-left no-margin class="profile-provider-content-title">Hospital Quality Methodology</ion-label>
              </ion-col>
              <ion-row col-12 no-marign no-padding>
                <ion-label padding-left no-marign no-lines>
                  <p class="profile-item-divider"></p>
                </ion-label>
              </ion-row>
            </ion-row>
            <ion-row no-padding no-margin>
              <ion-label text-wrap no-margin padding-left class="profile-provider-content-subtitle">
                Learn more about Hospital Quality Methodology
              </ion-label>
              <ion-item no-lines>
                <ion-label no-margin>
                  <div class="rating-star-container">
                    <span>
                      <i class="fas fa-star rating-star-fill"></i>
                      <i class="fas fa-star rating-star-fill"></i>
                      <i class="fas fa-star rating-star-fill"></i>
                    </span>
                  </div>
                  <p class="profile-rating-caption" text-wrap>Emergency Department Overall</p>
                </ion-label>
              </ion-item>
              <ion-item no-lines>
                <ion-label no-margin>
                  <div class="rating-star-container">
                    <span>
                      <i class="fas fa-star rating-star-fill"></i>
                      <i class="fas fa-star rating-star-fill"></i>
                      <i class="fas fa-star rating-star-fill"></i>
                    </span>
                  </div>
                  <p class="profile-rating-caption" text-wrap>30-Day Risk Adjusted Readmission Rate for All-Cause</p>
                </ion-label>
              </ion-item>
              <ion-item no-lines>
                <ion-label no-margin>
                  <div class="rating-star-container">
                    <span>
                      <i class="fas fa-star rating-star-fill"></i>
                      <i class="fas fa-star rating-star-fill"></i>
                      <i class="fas fa-star rating-star-fill"></i>
                    </span>
                  </div>
                  <p class="profile-rating-caption" text-wrap>Radiology Outpatient Overall</p>
                </ion-label>
              </ion-item>
            </ion-row>
          </ion-row>
        </ion-row>
      </ion-row>
      <!-- location details -->
      <ion-row no-padding no-margin class="profile-accordian-row">
        <!-- <ion-row no-padding no-margin class="width-100" (tap)="toggleAccordianList('location')"> -->
        <ion-row no-padding no-margin class="width-100">
          <ion-col no-padding col-11 class="profile-accordian-list-location-title">
            <ion-item no-lines>Locations Details</ion-item>
          </ion-col>
          <ion-col no-padding col-1 class="profile-accordian-toggle-icon">
            <ion-item no-lines no-padding>
              <ion-icon class="icon" [name]="accordianToggleStatus['location'] == true ? 'ios-arrow-up': 'ios-arrow-down'"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- </ion-row> -->
        <ion-row class="profile-accordian-content" *ngIf="accordianToggleStatus['location'] == undefined ? false : accordianToggleStatus['location']">
          <!-- Identifiers -->
          <ion-col col-12 no-padding no-margin>
            <ion-label padding-left no-margin class="profile-provider-content-title">Indentifiers</ion-label>
          </ion-col>
          <ion-row class="profile-accordian-content">
            <ion-col col-10 no-padding no-margin>
              <ion-label padding-left no-margin text-wrap class="profile-provider-content">NPI: 700J09956</ion-label>
            </ion-col>
            <ion-col col-2 no-padding no-margin>
              <ion-label padding-left no-margin class="profile-provider-content">
                <span>copy</span>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row no-padding no-margin class="profile-accordian-content">
            <ion-col col-10 no-padding no-margin>
              <ion-label padding-left no-margin text-wrap class="profile-provider-content">BCA: 700|MA1L|J09956||03</ion-label>
            </ion-col>
            <ion-col col-2 no-padding no-margin>
              <ion-label padding-left no-margin class="profile-provider-content">
                <span>copy</span>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row no-padding no-margin class="profile-accordian-content">
            <ion-col col-10 no-padding no-margin>
              <ion-label padding-left no-margin text-wrap class="profile-provider-content">BCA: 700|MA1L|J09956||03 </ion-label>
            </ion-col>
            <ion-col col-2 no-padding no-margin>
              <ion-label padding-left no-margin class="profile-provider-content">
                <span>copy</span>
              </ion-label>
            </ion-col>
          </ion-row>
          <!-- Languages -->
          <ion-col col-12 no-padding no-margin margin-top>
            <ion-label padding-left no-margin class="profile-provider-content-title">
              Payment
            </ion-label>
          </ion-col>
          <ion-row class="profile-accordian-content">
            <ion-col col-12 no-padding no-margin>
              <ion-label padding-left no-margin class="profile-provider-content">
                Fee-for-service
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-row>
      <ion-row no-padding no-margin class="profile-accordian-row">
        <ion-item no-lines class="profile-affiliated-doctors">
          <span>
            <i class="fas fa-search"></i>
          </span>Search for affiliated doctors
        </ion-item>
        <ion-item no-lines text-wrap class="profile-description">
          Our networks include a comprehensive range of doctors, hospitals, and other health care providers. When recruiting providers
          to participate in our network, we consider the distance our members will have to travel to get to the provider.
          We select providers for participation in our networks based on their proven ability to meet our credentialing criteria.
          We do not measure cost, quality, or member experience when selecting providers to participate in our networks.
        </ion-item>
      </ion-row>
    </ion-grid>
    <img class="shadow-img" />
  </div>
</ion-content>
<footer [activeTab]="''"></footer>