.closeIconCls{
    background: none !important;
    color: #2f75ab;
    font-size: 1.20em !important;
    height: auto !important;
    width: auto !important;
    margin: 0px !important;
    min-width: auto !important;
    box-shadow: none !important;
}
.closeIconCls.activated{
    background: none !important;
}
.authDetailsHeaderCls{
    border-bottom: 0.55px solid #c8c7cc;
}
authentication-details{
    padding-bottom: 15px;
}

