<div>
  <h4 style="font-family: arial-bold;font-size: 15px;">Password Requirements</h4>

  <table>

    <tr>
      <td>
        <img *ngIf="errorMessage && errorMessage.hasMinLength" class="pwd-chk" [src]="config.assets_url+'/images/icons-ios/updated_Password_done.png'"
          alt="password check">
        <img *ngIf="errorMessage && !errorMessage.hasMinLength && isBlurEvent " class="pwd-wng" [src]="config.assets_url+'/images/icons-ios/updated_Password_close.png'"
          alt="password wrong">

      </td>
      <td> &nbsp;At least 8 characters </td>
    </tr>
    <tr>
      <td>
        <img *ngIf="errorMessage && errorMessage.hasNumber" class="pwd-chk" [src]="config.assets_url+'/images/icons-ios/updated_Password_done.png'"
          alt="password check">
        <img *ngIf="errorMessage && !errorMessage.hasNumber && isBlurEvent " class="pwd-wng" [src]="config.assets_url+'/images/icons-ios/updated_Password_close.png'"
          alt="password wrong">
      </td>
      <td> &nbsp;Must include a number</td>
    </tr>
    <tr>
      <td>
        <img *ngIf="errorMessage && errorMessage.hasCapital" class="pwd-chk" [src]="config.assets_url+'/images/icons-ios/updated_Password_done.png'"
          alt="password check">
        <img *ngIf="errorMessage && !errorMessage.hasCapital && isBlurEvent " class="pwd-wng" [src]="config.assets_url+'/images/icons-ios/updated_Password_close.png'"
          alt="password wrong">
      </td>
      <td> &nbsp;Must include an uppercase letter </td>
    </tr>
    <tr>
      <td>
        <img *ngIf="errorMessage && errorMessage.hasSymbol" class="pwd-chk" [src]="config.assets_url+'/images/icons-ios/updated_Password_done.png'"
          alt="password check">
        <img *ngIf="errorMessage && !errorMessage.hasSymbol && isBlurEvent" class="pwd-wng" [src]="config.assets_url+'/images/icons-ios/updated_Password_close.png'"
          alt="password wrong">
      </td>
      <td>&nbsp;Must include a special character: </td>
    </tr>
    <tr>
      <td></td>
      <td> {{allowedSpecialCharters}}</td>
    </tr>
  </table>

</div>