footer {
    ion-footer {
        background: #115890
    }
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #115890
    }
    .tabbarMenu img {
        width: 19%;
        padding: 0;
        margin: 0;
        vertical-align: middle;
    }
}