<ion-grid no-padding no-margin tappable (click)="openfindDoctor()">
  <ion-row>
    <ul style="list-style: square; color: #1866A3;">
      <li style="padding:0px 10px 10px 10px;">
        <span style="color: black;">Find and compare doctors, dentists, hospitals and other health care providers</span>
      </li>
      <li style="padding:0px 10px;">
        <span style="color: black;">Get estimates for over 1,600 common medical procedures</span>
      </li>
    </ul>
  </ion-row>
  <ion-row justify-content-end padding-bottom padding-right>
    <ion-col>
      <div class="cardReadArticleLinkCls" text-end>Search Now</div>
    </ion-col>
  </ion-row>
</ion-grid>