page-my-news, page-my-news-fitness, page-my-news-wellness {
    .content{
         background: rgb(221, 221, 221) !important;
    }
    .createdCls{
        /*color: $card-content-font-color-highlighted; */
        font-size: 16px;
		font-weight: light;
		line-height: 22px;
		color: #1866a3;
    }
    .subTitleCls{
        float: left;
        font-size: 20px;
        color: #707070;
        padding-top: 5px;
        padding-left: 10px;
    }
    .imgIconDivCls{
        float: left;
        width: 32px;
        height: 32px;

    }
    .imgContainerCls{
        padding-left: $padding-page-30;
    }
    .articleTitleCls {
    	font-size: 26px;
		font-weight: bold;
		line-height: 24px;
		color: #000000;
    }
}
