<header [title]="'Update Password'" [activeTab]=" " [hideMenu]="'true'" [showTabberMenu]="false">
</header>

<ion-content padding-top>

    <div *ngFor="let alert of alerts">
        <alert-message-card [showAlert]="alert.showAlert" [title]="alert.title" [message]="alert.message" [type]="alert.type" [alert]="alert"
            [hideCloseButton]="alert.hideCloseButton"></alert-message-card>
    </div>

    <div class="verificationCodeFormCls">
        <form autocomplete="off" [formGroup]="createPasswordForm" (submit)="onSubmitPassword()">
            <div class="selectedUserInfocls">Your selected username is: <span class="selectedUserVal">{{selectedUserID}}</span> </div>
            <div class="labelCls">Password*</div>
            <ion-item class="inputPwdCls">
                <!-- <input #newPwdInput placeholder="" id="password" type="password" formControlName="passwordin" 
                (blur)="showErrorOnBlur()"
                /> -->

                <ion-input #newPwdInput formControlName="passwordin" type="{{ (buttonCaption == 'Show') ? 'password' : 'text' }}"
                        placeholder="" id="password" 
                        (blur)="showErrorOnBlur()"
                        (keyup)="isformDisabled(createPasswordForm)" (change)="isformDisabled(createPasswordForm)"></ion-input>
                <label for="password" class="active">Password</label>
                <button class="pwdShowBtnCls" type="button" [ngClass]="{'password-button-hide':buttonCaption=='Hide'}" ion-button item-end (tap)="togglePwdDisplay(newPwdInput)" round text-capitalize>{{buttonCaption}}</button>

            </ion-item>
            <ion-label class="reEnterLabel">
                    <span>Re-enter Password* </span>
                </ion-label>
                <ion-item class="reEnterInput">                        
                        <ion-input class="inputPaddingtop" [type]="reenterPasswordType" formControlName="reenterPassword" (ionBlur)="onreenterPasswordBlur = true" (ionFocus)="onreenterPasswordBlur = false"></ion-input>
    
                        <button class="pwdShowBtnCls profilepwdShowBtnCls" [ngClass]="{'password-button-hide':reenterPasswordText=='Hide'}" type="button" ion-button item-end (tap)="showReenterPassword()"
                            round text-capitalize>{{reenterPasswordText}}</button>
                    </ion-item>
                    <control-messages [control]="createPasswordForm.controls.reenterPassword" *ngIf="onreenterPasswordBlur"></control-messages>   

            <ion-card class="cardContentHolder">
                <ion-card-content class="card-content">
                    <password-validation [isBlurEvent]="showPasswordErrors" [password]="createPasswordForm.value.passwordin"></password-validation>
                </ion-card-content>
            </ion-card>
            <!-- <control-messages [control]="createPasswordForm.controls.passwordin" *ngIf="showPasswordErrors"></control-messages> -->
            <div class="submitBtnHolder" text-center>
                <button ion-button type="submit" full [disabled]="!createPasswordForm.valid">Continue</button>
                <!-- <button ion-button type="submit" full [disabled]="setContinueButtonDisabled">Continue</button>  -->
            </div>
            <div  class="lableRequired tems-padding">*Field is required.</div>
       
        </form>
    </div>

</ion-content>
<!-- <footer></footer> -->