

<div class="content" >
    <div class="contantUsContentCls card-content-cls">
        <div>
            <img [src]="config.assets_url+'/images/icons-ios/Asset16@2x.png'" style="width: 140px; display: block; margin:0px auto;" />
        </div>
        <br/>
        <div >
            Blue Cross Blue Shield of Massachusetts is an Independent Licensee of the Blue Cross and Blue Shield Association. &reg; Registered Marks of the Blue Cross and Blue Shield Association. &copy; 2017 Blue Cross and Blue Shield of Massachusetts, Inc.
        </div>
    </div>
</div>
<div class="linkSectionCls" >
      
   <ion-grid no-padding>
       <ion-row (tap)="goToContactUs()" id="contactUsId"> 
           <ion-col col-11 align-self-center>
               <label text-center class="linkTextCls">Contact Us</label>
               <i class="icon ion-chevron-right"></i>
           </ion-col>
           
           <ion-col align-self-center text-right>
                <ion-icon class="detailArrowCls" ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
           </ion-col>
           
       </ion-row>
   </ion-grid>
  
</div>
				
