page-message-center-detail {

  .icon-page{
    font-size: 2em;
  }
  .icon-page-3{
    font-size: 3em;
  }
  .content{
    background: rgb(221, 221, 221) !important;
  }

  .middleContainerCls{
    padding: $padding-page-30 !important;
  }
  .contentCls{
    font-family: arial-bold;
    font-size:$card-content-body-medium-font-size;
    color: $card-content-font-color-normal;
  }
  .topContainerCls{
    padding : $padding-page-30 $padding-page-30 $padding-page-10 $padding-page-30;
    border-bottom: 1px solid $card-content-section-border-color;

    .lablecls{

      font-size:$card-content-body-medium-font-size;
      color: $page-content-light-label-color;
    }
  }
  .bottomContainerCls,.boldContentTitle{
    padding: $padding-page-30 !important;

    ion-row{
      ion-col{
        padding: 0px;
      }
    }
    img{
      max-height: 20px;
      padding-top:2px;
    }
  }
  .boldContentTitle{
    //color: $card-content-font-color-highlighted;
    font-weight: bold; 
  }
  .mediumContentcls{

    color: $card-content-font-color-normal;
    //font-family: arial-bold;
    font-size: $card-content-body-size;
    padding: 0px 0px 15px 14px;
  }
  .middleContainerCls{
    padding: 11px 2px !important;
    /*border-bottom: 1px solid $card-content-section-border-color;*/
    ion-row{
      ion-col{
        padding: 0px;
      }
    }
    .boldContentCls{
      //color: $card-content-font-color-highlighted;
      font-family: arial-bold;
      font-size: $card-content-body-size;
      padding: 15px 0px 7px 15px;
      font-weight: bold; 
    }

    .smallContentcls{
      font-size:$card-content-body-medium-font-size;
      color: $page-content-light-label-color;
    }
    img{
      height: 30px;
    }
    .boldContentTitle{
    font-weight: bold; 
  }
  }

  .lablecls{

    font-size:$card-content-body-medium-font-size;
    color: $page-content-light-label-color;
  }
  .amountCls{
    font-family: arial-bold;
    font-size: $card-content-body-size;
  }
  .statusColorGray{
    color: #818181;
  }
  .autoComplete {
    margin-top: 0px;
    position: absolute;
    width: inherit;
    overflow-y: scroll;
    z-index: 999;
    border: 1px solid #dddddd;
    font-family: $font-family-base;
    font-size: .9em;
  }

  .detailArrowCls{
    font-size: 2em;
    font-weight: bold;
    color: #818181;
  }

  alert-message-card  .error .messageContent{
    font-size: $card-content-title-size;
    font-weight: bold;
    font-family:$font-family-lable;
  }

  alert-message-card  .info .messageContent{
    font-size: $card-content-title-size;
    font-weight: bold;
    font-family:$font-family-lable;
  }

  alert-message-card  .promo .messageContent{
    font-size: $card-content-title-size;
    font-weight: bold;
    font-family:$font-family-lable;
  }

  .middleContainerHeaderCls {
    border-bottom: 3px solid #1866a3 !important;
  }
  .middleContainerCls.barColorOrange {
		border-left: 7px solid #f26300;
  }
  .headerTitle {
    background-color: white !important;
    font-weight: normal;
    text-transform: capitalize !important;
  }
  .msgitemDiv{
    border-bottom: 3px solid $card-content-section-border-color;
  }

  .msgCentermdfooter{
  background-color: #043167;
  width: 100%;
  height: 36px;
  bottom: 0;
  font-size: 1.2em;
  color: #fff;
  position:fixed;
 }
 .msgCenteriosfooter{
  background-color: #043167;
   width: 100%;
   height: 36px;
   bottom: 47px;
   font-size: 1.2em;
    color: #fff;
    position: fixed;
 }
 .detailsContent{
  margin-bottom:15px;
  background-color:white;
  margin-top:15px;
 }
}

.card-md {
    /* margin: 10px; */
                  padding: 10px;
    margin-bottom: 45px;
    margin-top: 10px;
    border-radius: 2px;
    /* width: calc(100% - 20px); */
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-ios {
    padding: 10px;
    margin-bottom: 45px;
    /* margin: 12px; */
    /* border-radius: 2px; */
    /* width: calc(100% - 24px); */
    font-size: 1.4rem;
    background: #fff;
    /* -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); */
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); */
}
.card-ios {
    /* margin: 12px; */
    border-radius: 2px;
    /* width: calc(100% - 24px); */
   font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
