settings-info-popoever {
    .contactuspopover{
       padding:10px;
       box-shadow: 5px 5px 5px 5px #888888;
    }
    .contactuspopover span{
        color: #1866a3;
        font-weight: bold;
    }
}